/* label{
  width: 120px;
  background-color: #99c793;
  color: white;
  margin: 5px;
  font-weight: 500;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;

}
label:hover{
  background-color: #d6552e;
  -webkit-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
   transition: background-color 500ms linear;
}
input{
  display: none;
} */