<ul class="list-group list-group-light">
    <li routerLink="/account/information" (click)="setClass($event)" class="list-group-item px-3 mb-2 border-0"><i class="fa-solid fa-user"></i>  Kullanıcı Bilgilerim</li>
    <li routerLink="/account/orders" (click)="setClass($event)" class="list-group-item px-3 mb-2 border-0"><i class="fa-solid fa-box-archive"></i> Siparişlerim </li>
    <li routerLink="/account/comments" (click)="setClass($event)" class="list-group-item px-3 mb-2 border-0"><i class="fa-solid fa-comment"></i> Yorumlarım </li>
    <li routerLink="/account/address" (click)="setClass($event)" class="list-group-item px-3 mb-2 border-0"><i class="fa-solid fa-location-dot"></i>  Adres Bilgilerim</li>
    <li routerLink="/account/" (click)="setClass($event)" class="list-group-item px-3 mb-2 border-0"><i class="fa-solid fa-circle-question"></i>  Yardım </li>
  </ul>
